body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #999;
}

canvas {
    border: 20px solid black;
    border-radius: 20px;
}